<ul>
    <li><a href="#">회사소개</a></li>
    <li><a href="#">채용안내</a></li>
    <li><a href="#">이용약관</a></li>
    <li><a href="#">개인정보처리방침</a></li>
    <li><a href="#">청소년 보호정책</a></li>
    <li><a href="#">중고매장</a></li>
    <li><a href="#">제휴·마케팅 안내</a></li>
    <li><a href="#">판매자 매니저</a></li>
    <li><a href="#">출판사·공급사 안내</a></li>
    <li><a href="#">광고 안내</a></li>
    <li><a href="#">학교·기업·기관 대량구매</a></li>
</ul>
<div class="footer-info-row">
    <div>
        <h3>(주)알라딘커뮤니케이션</h3>
        <span>
            대표이사 최우경 사업자등록 201-81-23094<br />
            통신판매업신고 2003-서울중구-01520 <br />
            이메일 privacy@aladin.co.kr 호스팅 제공자 알라딘커뮤니케이션<br />
            (본사) 서울시 중구 서소문로 89-31 <br />ⓒ Aladin Communication. All
            Rights Reserved.
        </span>
    </div>
    <div>
        <h3>고객센터 1544-2514 (발신자 부담)</h3>
        <span>서울시 마포구 백범로 71 숨도빌딩 7층 Fax 02-6926-2600</span>
        <div>
            <a href="javascript:void(0)" id="chatLink">챗봇</a>
        </div>
        <div>FAQ</div>
        <div>중고매장 위치 영업시간 안내</div>
    </div>
</div>
