<div class="key-visual-background">
    <div class="swiper">
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide slide1 bg-slide"></div>
            <div class="swiper-slide slide2 bg-slide"></div>
            <div class="swiper-slide slide3 bg-slide"></div>
            <div class="swiper-slide slide4 bg-slide"></div>
            <div class="swiper-slide slide5 bg-slide"></div>
        </div>
    </div>
</div>
<div class="key-visual-inner">
    <div class="swiper">
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide slide1 main-slide"><a href="#"></a></div>
            <div class="swiper-slide slide2 main-slide"><a href="#"></a></div>
            <div class="swiper-slide slide3 main-slide"><a href="#"></a></div>
            <div class="swiper-slide slide4 main-slide"><a href="#"></a></div>
            <div class="swiper-slide slide5 main-slide"><a href="#"></a></div>
        </div>
        <!-- 이전, 다음 버튼 필요시 추가 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
